@import "../../styles/vars.scss";
@import "../../styles/functions.scss";
.expense-list {
  background-color: $white;
  border-radius: rem(0 0 20 20);
  text-align: left;
  padding: rem(20);
  overflow-y: auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: rem(0 0 100 0);

  &_header {
    display: grid;
    grid-template-columns: 2fr 1.5fr 2fr 25px 25px;
    font-size: rem(12);
    color: $light-gray;
  }

  &_content {
    display: grid;
    grid-template-columns: 2fr 1.5fr 2fr 25px 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .no-expenses {
    width: 100%;
    position: relative;

    &-illustration {
      margin: auto;
      width: 100%;
      display: flex;
      justify-content: center;
      margin: rem(20 0);

      svg {
        width: 100%;
      }
    }
    text-align: center;
    margin: auto;
  }
}
