@import "../../styles/vars.scss";
@import "../../styles/functions.scss";

.search-bar {
  width: 100%;
  padding: rem(15);
  border-radius: rem(50);
  background-color: $white;
  margin-top: rem(20);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  .group {
    margin: 0;
    padding: 0;
  }

  .form-input {
    margin: 0;
    background-color: transparent;
    border-bottom: none;
  }
}
