@import '../../styles/vars.scss';
@import '../../styles/functions.scss';

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: rem(20);
    background-color: $white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: rem(20 20 0 0);
    display: flex;

    .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        padding: 10px 15px;
        cursor: pointer;
        transition: all 0.2s ease-out;

        &.active {
            flex-grow: 2;
            border-radius: 30px;
            background: #eee;
            justify-content: flex-start;
        }
    }
    
    .nav-text {
        font-size: 20px;
        margin: auto;
        text-align: center;
        font-weight: 500;
        display: none;
        transition: all 0.3s ease;
    }

    .nav-item.active > .nav-text {
        display: inline-block;
    }
    
    .nav-item.active > .material-icons.home-icon {
        color: $brand;
    }
    
    .material-icons.home-icon ~ .nav-text {
        color: $brand;
    }
    
    .nav-item.active > .material-icons.favorite-icon {
        color: #c9329a;
    }
    
    .material-icons.favorite-icon ~ .nav-text {
        color: #c9329a;
    }
    
    .nav-item.active > .material-icons.search-icon {
        color: #e5a023;
    }
    
    .material-icons.search-icon ~ .nav-text {
        color: #e5a023;
    }
    
    .nav-item.active > .material-icons.person-icon {
        color: #0091a9;
    }
    
    .material-icons.person-icon ~ .nav-text {
        color: #0091a9;
    }
}


