@import '../../styles/vars.scss';
@import '../../styles/functions.scss';

.homepage {
    max-width: rem(500);
    margin: auto;
    background: $light-gray;
    padding: rem(20);
    height: calc(100vh - 92.94px);
}